<mat-nav-list>
    <mat-accordion [multi]="true">
        <mat-expansion-panel [(expanded)]="xpandStatus">

            <a mat-list-item (click)="listaRelaciones('products')">
                <span><mat-icon>note_alt</mat-icon>&nbsp;</span>Products Managment

            </a>
            <a mat-list-item (click)="listaRelaciones('ship')">
                <span><mat-icon>manage_accounts</mat-icon>&nbsp;</span>Ship product Managment

            </a>

            <a mat-list-item (click)="listaRelaciones('stock')">
                <span><mat-icon>query_stats</mat-icon>&nbsp;</span>Report prodcuts Dashboard
            </a>


        </mat-expansion-panel>

    </mat-accordion>
</mat-nav-list>